.slider-wrap{color:#fff;position:relative;overflow:hidden;z-index:2}
.slider-wrap .controls{bottom:16px;position:absolute;right:20px}
.main-slider{height:240px;}
.main-slider__slide{color:#fff;display:block;height:100%;margin-right:1px !important;overflow:hidden;}
.main-slider__slide:hover, .main-slider__slide:active, .main-slider__slide:focus{color:#fff;text-decoration:none;}
.slide__img{min-width:100%;max-width:none;}
.numericControls li{display:inline-block;list-style:none;margin-top:1px}
.numericControls li a{display:block;padding:4px;}
.numericControls li a span{background:transparent;border:1px solid #fff;display:block;font-size:0;height:12px;padding:2px;text-indent:-99999px;width:12px;border-radius:6px;transition:all .3s ease;}
.numericControls li.current a span, .numericControls li:hover a span{background:#fff;}
.main-slider__description{display:block;font-family:Kazimir, arial, tahoma, sans-serif;font-style:italic;line-height:1.25;max-width:150px;position:absolute;text-align:right;right:24px;top:57px;}
.main-slider__caption{bottom:7px;display:block;font-family:SocialGothic, arial, tahoma, sans-serif;font-size:20px;left:24px;letter-spacing:0.05em;max-width:25%;position:absolute;}
.main-slider__caption b{display:block;font-size:5em;font-weight:400;letter-spacing:0.07em;line-height:1;margin-top:19px;}
@media (min-width:1025px){.main-slider,.main-slider__slide{height:auto}
.slide__img{width:100%;}
}
@media (max-width:1024px){.slide__img{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
}
@media (max-width:767px){.main-slider__description,.main-slider__caption{width:37.5%;}
.main-slider__description{max-width:135px}
}